:root {
  --link-color--link-primary: var(--base-color-brand--blue);
  --background-color--background-primary: var(--base-color-neutral--black);
  --text-color--text-alternate: var(--base-color-neutral--white);
  --text-color--text-primary: var(--base-color-neutral--black);
  --text-color--text-secondary: var(--base-color-neutral--neutral-darker);
  --background-color--background-success: var(--base-color-system--success-green);
  --text-color--text-success: var(--base-color-system--success-green-dark);
  --border-color--border-primary: var(--base-color-neutral--neutral-lightest);
  --background-color--background-alternate: var(--base-color-neutral--white);
  --background-color--background-secondary: var(--base-color-brand--blue);
  --background-color--background-tertiary: var(--base-color-brand--pink);
  --background-color--background-error: var(--base-color-system--error-red);
  --text-color--text-error: var(--base-color-system--error-red-dark);
  --border-color--border-alternate: var(--base-color-neutral--neutral-darker);
  --background-color--background-warning: var(--base-color-system--warning-yellow);
  --text-color--text-warning: var(--base-color-system--warning-yellow-dark);
  --base-color-brand--pink-light: #e9b7d2;
  --base-color-brand--pink: #db91b9;
  --base-color-neutral--black: #000;
  --base-color-neutral--white: #fff;
  --base-color-brand--blue-medium: #0064b1;
  --border-color--border-secondary: var(--base-color-brand--blue);
  --link-color--link-secondary: var(--base-color-neutral--black);
  --link-color--link-alternate: var(--base-color-neutral--white);
  --base-color-brand--blue-light: #d9e5ff;
  --base-color-brand--blue: #2d62ff;
  --base-color-brand--blue-dark: #080331;
  --base-color-brand--pink-dark: #3c043b;
  --base-color-neutral--neutral-lightest: #eee;
  --base-color-neutral--neutral-lighter: #ccc;
  --base-color-neutral--neutral-light: #aaa;
  --base-color-neutral--neutral: #666;
  --base-color-neutral--neutral-dark: #444;
  --base-color-neutral--neutral-darker: #222;
  --base-color-neutral--neutral-darkest: #111;
  --base-color-system--success-green: #cef5ca;
  --base-color-system--success-green-dark: #114e0b;
  --base-color-system--warning-yellow: #fcf8d8;
  --base-color-system--warning-yellow-dark: #5e5515;
  --base-color-system--error-red: #f8e4e4;
  --base-color-system--error-red-dark: #3b0b0b;
  --base-color-system--focus-state: #2d62ff;
  --one-earth-home-hero-rotation: 15rem;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 12px;
  height: 12px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-width: 4px;
  border-color: #3898ec;
}

body {
  color: #000;
  background-image: url('../images/OE-24-Background.svg');
  background-position: 50% 0;
  background-size: cover;
  background-attachment: fixed;
  font-family: Be Vietnam Pro, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: poleno, sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.1;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: poleno, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
}

h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}

p {
  margin-bottom: 0;
}

a {
  color: var(--link-color--link-primary);
  font-family: poleno, sans-serif;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1.5rem;
}

li {
  margin-bottom: .25rem;
}

img {
  max-width: 100%;
  display: inline-block;
}

label {
  margin-bottom: .25rem;
  font-weight: 500;
}

blockquote {
  border-left: .25rem solid #e2e2e2;
  margin-bottom: 0;
  padding: 0 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

figure {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

figcaption {
  text-align: center;
  margin-top: .25rem;
}

.utility-page_component {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  display: flex;
}

.utility-page_wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  max-width: 20rem;
  display: flex;
}

.utility-page_form {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.utility-page_image {
  margin-left: auto;
  margin-right: auto;
}

.global-styles {
  display: block;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.margin-custom2 {
  margin: 2.5rem;
}

.padding-xlarge {
  padding: 4rem;
}

.margin-xlarge {
  margin: 4rem;
}

.margin-xsmall {
  margin: .5rem;
}

.padding-xhuge {
  padding: 8rem;
}

.margin-custom1 {
  margin: 1.5rem;
}

.padding-0 {
  padding: 0;
}

.padding-xxhuge {
  padding: 12rem;
}

.padding-huge {
  padding: 6rem;
}

.margin-large {
  margin: 3rem;
}

.padding-xxlarge {
  padding: 5rem;
}

.margin-xxsmall {
  margin: .25rem;
}

.padding-custom3 {
  padding: 3.5rem;
}

.padding-large {
  padding: 3rem;
}

.margin-tiny {
  margin: .125rem;
}

.padding-small {
  padding: 1rem;
}

.padding-custom2 {
  padding: 2.5rem;
}

.margin-custom3 {
  margin: 3.5rem;
}

.padding-custom1 {
  padding: 1.5rem;
}

.margin-huge {
  margin: 6rem;
}

.padding-medium {
  padding: 2rem;
}

.padding-xsmall {
  padding: .5rem;
}

.margin-xxlarge {
  margin: 5rem;
}

.padding-xxsmall {
  padding: .25rem;
}

.margin-xhuge {
  margin: 8rem;
}

.padding-tiny {
  padding: .125rem;
}

.margin-small {
  margin: 1rem;
}

.margin-medium {
  margin: 2rem;
}

.margin-xxhuge {
  margin: 12rem;
}

.margin-0 {
  margin: 0;
}

.margin-horizontal {
  margin-top: 0;
  margin-bottom: 0;
}

.padding-top {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.margin-vertical {
  margin-left: 0;
  margin-right: 0;
}

.margin-bottom {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.padding-left {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}

.padding-vertical {
  padding-left: 0;
  padding-right: 0;
}

.padding-horizontal {
  padding-top: 0;
  padding-bottom: 0;
}

.margin-right {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.margin-top {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.margin-left {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.padding-right {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.padding-bottom {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.form_checkbox {
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem;
  padding-left: 0;
  display: flex;
}

.form_checkbox-icon {
  border-radius: .125rem;
  width: .875rem;
  height: .875rem;
  margin: 0 .5rem 0 0;
}

.form_checkbox-icon.w--redirected-checked {
  background-size: 90%;
  border-radius: .125rem;
  width: .875rem;
  height: .875rem;
  margin: 0 .5rem 0 0;
}

.form_checkbox-icon.w--redirected-focus {
  border-radius: .125rem;
  width: .875rem;
  height: .875rem;
  margin: 0 .5rem 0 0;
  box-shadow: 0 0 .25rem 0 #3898ec;
}

.fs-styleguide_background {
  border: 1px solid rgba(0, 0, 0, .1);
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  display: flex;
}

.fs-styleguide_spacing {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  background-image: linear-gradient(to top, rgba(45, 64, 234, .1), rgba(255, 255, 255, 0));
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: start;
  justify-content: start;
  align-items: start;
  justify-items: stretch;
  display: grid;
  position: relative;
}

.icon-1x1-small {
  flex: none;
  width: 1rem;
  height: 1rem;
}

.overflow-auto {
  overflow: auto;
}

.spacing-clean {
  margin: 0;
  padding: 0;
}

.icon-1x1-large {
  width: 2.5rem;
  height: 2.5rem;
}

.z-index-2 {
  z-index: 2;
  position: relative;
}

.fs-styleguide_background-space {
  width: 1px;
  height: 1px;
  margin: 5rem;
}

.text-weight-semibold {
  font-weight: 600;
}

.text-style-strikethrough {
  text-decoration: line-through;
}

.fs-styleguide_item {
  grid-column-gap: 1.125rem;
  grid-row-gap: 1.125rem;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: start;
  justify-content: start;
  align-items: start;
  justify-items: start;
  padding-bottom: 3rem;
  display: grid;
  position: relative;
}

.fs-styleguide_item.is-stretch {
  justify-items: stretch;
}

.max-width-full {
  width: 100%;
  max-width: none;
}

.fs-styleguide_item-header {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  width: 100%;
  padding-bottom: 2rem;
}

.background-color-primary {
  background-color: var(--background-color--background-primary);
  color: var(--text-color--text-alternate);
}

.z-index-1 {
  z-index: 1;
  position: relative;
}

.text-color-primary {
  color: var(--text-color--text-primary);
}

.text-color-secondary {
  color: var(--text-color--text-secondary);
}

.fs-styleguide_2-col {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.fs-styleguide_2-col.is-align-start {
  align-items: start;
}

.form_message-success {
  background-color: var(--background-color--background-success);
  color: var(--text-color--text-success);
  padding: 1.25rem;
}

.fs-styleguide_row {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  flex-direction: row;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.heading-style-h3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

.text-rich-text h1, .text-rich-text h2, .text-rich-text h3, .text-rich-text h4 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.text-rich-text h5, .text-rich-text h6 {
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}

.text-rich-text p {
  margin-bottom: 1rem;
}

.text-rich-text ul, .text-rich-text ol {
  margin-bottom: 1.5rem;
}

.text-rich-text blockquote {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.pointer-events-auto {
  pointer-events: auto;
}

.container-small {
  width: 100%;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}

.icon-height-small {
  height: 1rem;
}

.icon-1x1-medium {
  width: 2rem;
  height: 2rem;
}

.heading-style-h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.1;
}

.padding-global {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.text-weight-normal {
  font-weight: 400;
}

.padding-section-small {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.max-width-small {
  width: 100%;
  max-width: 20rem;
}

.text-color-alternate {
  color: var(--text-color--text-alternate);
}

.text-style-italic {
  font-style: italic;
}

.pointer-events-none {
  pointer-events: none;
}

.text-weight-medium {
  font-weight: 500;
}

.overflow-hidden {
  overflow: hidden;
}

.fs-styleguide_section-header {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  border-bottom: 1px solid var(--border-color--border-primary);
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  padding-bottom: 3rem;
  line-height: 1.4;
  display: grid;
}

.text-size-tiny {
  font-size: .75rem;
}

.max-width-xxlarge {
  width: 100%;
  max-width: 80rem;
}

.fs-styleguide_1-col {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.overflow-visible {
  overflow: visible;
}

.fs-styleguide_empty-box {
  z-index: -1;
  background-color: rgba(45, 64, 234, .05);
  border: 1px dashed #2d40ea;
  min-width: 3rem;
  height: 3rem;
  position: relative;
}

.text-weight-light {
  font-weight: 300;
}

.fs-styleguide_heading-medium {
  font-size: 4rem;
}

.max-width-xsmall {
  width: 100%;
  max-width: 16rem;
}

.fs-styleguide_4-col {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.text-size-regular.opacy-60 {
  max-width: 500px;
}

.text-weight-xbold {
  font-weight: 800;
}

.text-align-right {
  text-align: right;
}

.text-weight-bold {
  font-weight: 700;
}

.max-width-medium {
  width: 100%;
  max-width: 32rem;
}

.fs-styleguide_item-wrapper {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.max-width-large {
  width: 100%;
  max-width: 48rem;
}

.fs-styleguide_header-block {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  justify-items: start;
  display: grid;
}

.background-color-alternate {
  background-color: var(--background-color--background-alternate);
}

.text-style-muted {
  opacity: .6;
}

.text-size-small {
  font-size: .875rem;
}

.heading-style-h4 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
}

.max-width-xlarge {
  width: 100%;
  max-width: 64rem;
}

.form_radio-icon {
  width: .875rem;
  height: .875rem;
  margin-top: 0;
  margin-left: 0;
  margin-right: .5rem;
}

.form_radio-icon.w--redirected-checked {
  border-width: .25rem;
  width: .875rem;
  height: .875rem;
}

.form_radio-icon.w--redirected-focus {
  width: .875rem;
  height: .875rem;
  box-shadow: 0 0 .25rem 0 #3898ec;
}

.text-style-nowrap {
  white-space: nowrap;
}

.text-align-left {
  text-align: left;
}

.background-color-secondary {
  background-color: var(--background-color--background-secondary);
}

.form_input {
  border: 1px solid var(--border-color--border-primary);
  background-color: rgba(0, 0, 0, 0);
  min-height: 3rem;
  margin-bottom: .75rem;
  padding: .5rem 1rem;
}

.form_input::placeholder {
  color: var(--text-color--text-secondary);
}

.form_input.is-select-input {
  color: var(--text-color--text-secondary);
}

.form_input.is-text-area {
  min-height: 8rem;
  padding-top: .75rem;
}

.heading-style-h6 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}

.padding-section-large {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.fs-styleguide_3-col {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: stretch;
  width: 100%;
  display: grid;
}

.fs-styleguide_3-col.is-align-start {
  align-items: start;
}

.text-style-link {
  color: var(--link-color--link-primary);
  text-decoration: underline;
}

.text-size-large {
  font-size: 1.5rem;
}

.fs-styleguide_header {
  background-color: var(--background-color--background-primary);
  color: var(--text-color--text-alternate);
  background-image: radial-gradient(circle at 100% 100%, rgba(221, 35, 187, .25), rgba(0, 0, 0, 0) 40%), radial-gradient(circle at 0 100%, rgba(45, 98, 255, .3), rgba(0, 0, 0, 0) 60%);
}

.heading-style-h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

.fs-styleguide_label {
  background-color: var(--background-color--background-secondary);
  color: var(--text-color--text-alternate);
  border-radius: .25rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: .25rem .75rem .3rem;
  font-weight: 600;
  display: flex;
}

.fs-styleguide_label.is-tag {
  background-color: var(--background-color--background-tertiary);
}

.heading-style-h5 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
}

.heading-style-h5.text-color-white {
  font-size: 1.2rem;
}

.container-large {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.icon-height-medium {
  height: 2rem;
}

.text-style-allcaps {
  text-transform: uppercase;
}

.overflow-scroll {
  overflow: scroll;
}

.form_message-error {
  background-color: var(--background-color--background-error);
  color: var(--text-color--text-error);
  margin-top: .75rem;
  padding: .75rem;
}

.icon-height-large {
  height: 3rem;
}

.text-align-center {
  text-align: center;
}

.form_component {
  margin-bottom: 0;
}

.max-width-xxsmall {
  width: 100%;
  max-width: 12rem;
}

.layer {
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.text-style-quote {
  border-left: .25rem solid #e2e2e2;
  margin-bottom: 0;
  padding: 0 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
}

.button {
  background-color: var(--background-color--background-primary);
  color: var(--text-color--text-alternate);
  text-align: center;
  border-radius: .25rem;
  padding: .75rem 1.5rem;
  font-weight: 600;
}

.button.is-text {
  color: #000;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid rgba(0, 0, 0, 0);
}

.button.is-small {
  padding: .5rem 1.25rem;
}

.button.is-large {
  padding: 1rem 2rem;
}

.button.is-secondary {
  border: 1px solid var(--border-color--border-alternate);
  color: var(--text-color--text-primary);
  background-color: rgba(0, 0, 0, 0);
}

.button.is-icon {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.button.is-brand {
  background-color: var(--background-color--background-secondary);
}

.fs-styleguide_classes {
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.text-size-medium {
  font-size: 1.25rem;
}

.fs-styleguide_section {
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  justify-items: start;
  display: grid;
}

.fs-styleguide_section.is-vertical {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-columns: 1fr;
}

.button-group {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.hide {
  display: none;
}

.padding-section-medium {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.container-medium {
  width: 100%;
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
}

.form_radio {
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem;
  padding-left: 0;
  display: flex;
}

.fs-styleguide_spacing-all {
  display: none;
}

.spacer-huge {
  width: 100%;
  padding-top: 6rem;
}

.spacer-medium {
  width: 100%;
  padding-top: 2rem;
}

.fs-styleguide_spacer-box {
  background-color: rgba(45, 64, 234, .1);
  border: 1px dashed #2d40ea;
  width: 100%;
  position: relative;
}

.spacer-xsmall {
  width: 100%;
  padding-top: .5rem;
}

.spacer-small {
  width: 100%;
  padding-top: 1rem;
}

.spacer-xhuge {
  width: 100%;
  padding-top: 8rem;
}

.spacer-tiny {
  width: 100%;
  padding-top: .125rem;
}

.spacer-xxsmall {
  width: 100%;
  padding-top: .25rem;
}

.spacer-xxhuge {
  width: 100%;
  padding-top: 12rem;
}

.spacer-xlarge {
  width: 100%;
  padding-top: 4rem;
}

.spacer-large {
  padding-top: 3rem;
}

.spacer-xxlarge {
  width: 100%;
  padding-top: 5rem;
}

.fs-styleguide_message {
  background-color: var(--background-color--background-warning);
  color: var(--text-color--text-warning);
  border-radius: .25rem;
  padding: .25rem .5rem;
  font-size: .875rem;
}

.nav_component {
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.nav_container {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.nav_container.container-fixed {
  justify-content: space-between;
  align-items: center;
}

.nav_brand {
  width: 10rem;
  height: auto;
  position: relative;
}

.nav_brand.brand-fixed {
  grid-column-gap: .2rem;
  grid-row-gap: .2rem;
  flex-flow: column;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: stretch;
  width: auto;
  padding-left: 0;
  display: flex;
}

.nav_logo {
  object-fit: cover;
  width: 10rem;
  height: 10rem;
  position: absolute;
}

.nav_logo.logo-fixed {
  width: 7rem;
  height: 7rem;
  position: static;
}

.nav_menu {
  display: flex;
}

.nav_menu_link {
  color: var(--text-color--text-primary);
  padding: 1rem;
  font-family: poleno, sans-serif;
  font-size: 1.5rem;
  display: block;
}

.nav_menu_link.tickets {
  background-color: var(--base-color-brand--pink-light);
  box-shadow: 5px 5px 0 0 var(--base-color-brand--pink);
  color: var(--text-color--text-primary);
  margin-left: 1rem;
  text-decoration: none;
  position: relative;
}

.nav_button {
  padding: 1rem;
}

.aspect-ratio-square {
  aspect-ratio: 1;
  object-fit: cover;
}

.aspect-ratio-portrait {
  aspect-ratio: 2 / 3;
  object-fit: cover;
}

.aspect-ratio-landscape {
  aspect-ratio: 3 / 2;
  object-fit: cover;
}

.aspect-ratio-widescreen {
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.background-color-tertiary {
  background-color: var(--background-color--background-tertiary);
}

.fs-styleguide_hero-label {
  color: var(--text-color--text-primary);
  text-transform: uppercase;
  background-color: #eee;
  border-radius: .25rem;
  padding: .25rem .375rem;
  font-size: .75rem;
  font-weight: 500;
  text-decoration: none;
}

.hero_content {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: start;
  justify-content: start;
  align-items: start;
  justify-items: start;
  max-width: 70rem;
  display: grid;
  position: relative;
}

.hero_image {
  border-radius: 1rem;
  margin-top: 0;
}

.hero_heading {
  font-size: 4rem;
}

.section_hero {
  color: #fff;
  background-color: #000;
  background-image: radial-gradient(circle at 0 100%, rgba(45, 98, 255, .3), rgba(0, 0, 0, 0) 50%), radial-gradient(circle at 100% 60%, rgba(45, 98, 255, .3), rgba(17, 17, 17, 0) 20%), radial-gradient(circle at 100% 100%, rgba(214, 0, 196, .2), rgba(0, 0, 0, 0) 45%);
  flex-direction: column;
  justify-content: center;
  min-height: 100svh;
  display: flex;
  position: relative;
}

.hero_grid {
  grid-column-gap: 8rem;
  grid-row-gap: 8rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.nav_fixed {
  position: static;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.fs-styleguide_heading-header {
  font-size: 6rem;
}

.silly-spacer {
  width: 7rem;
  height: 1000px;
}

.body {
  background-position: 50%;
  background-size: cover;
}

.nav_menu_link-dropdown-toggle {
  color: var(--base-color-neutral--black);
  padding: 1rem 3rem 1rem 1rem;
  font-family: poleno, sans-serif;
  font-size: 1.5rem;
}

.footer-image-container {
  border-bottom: 4px solid var(--base-color-neutral--white);
}

.footer-bottom-container {
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.bf-logo-footer {
  width: 10rem;
  height: 10rem;
}

.footer-design-section {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.footer-link {
  color: var(--background-color--background-primary);
  font-family: poleno, sans-serif;
}

.one-earth-text {
  width: 7rem;
  height: 7rem;
}

.brand-fixed-date {
  color: var(--base-color-neutral--black);
  text-align: center;
  font-family: poleno, sans-serif;
  font-size: 1.7rem;
  line-height: 1.1;
}

.text-block {
  text-align: center;
}

.brand-fixed-images {
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.heading {
  font-size: 3rem;
  transform: rotate(-1deg);
}

.ticket-table_row {
  border-bottom: 2px solid #d6da1d;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
}

.artists-tickets-stack {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: column;
  display: flex;
}

.text-block-2 {
  font-size: 1.5rem;
}

.button-ting {
  background-color: var(--base-color-brand--pink-light);
  box-shadow: 5px 5px 0 0 var(--base-color-brand--pink);
  color: var(--base-color-neutral--black);
  padding: 1rem;
  text-decoration: none;
}

.text-block-3, .text-block-4 {
  font-size: 1.5rem;
}

.oe-home-hero {
  padding-bottom: 3rem;
  overflow: hidden;
}

.core-stack {
  flex-flow: column;
  display: flex;
}

.oe-home-hero_top-text {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.oe-home-hero_top-text_date {
  text-align: center;
  font-family: poleno, sans-serif;
  font-size: 2.9rem;
  transform: rotate(-7deg);
}

.oe-home-hero_top-text_column {
  width: 25%;
}

.oe-home-hero_top-text_column.column-main {
  flex: 1;
}

.oe-home-hero_top-text_heading {
  text-align: center;
  font-family: poleno, sans-serif;
  font-size: 2.9rem;
  transform: rotate(-7deg);
}

.oe-home-hero_top-word_image {
  object-fit: contain;
  width: 12rem;
}

.oe-home-hero_top-word_image.earth {
  width: 14rem;
}

.oe-home-hero_top-text_intro {
  text-align: center;
  font-family: poleno, sans-serif;
  font-size: 2.9rem;
  transform: rotate(7deg);
}

.oe-home-hero_main {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  border-style: solid;
  border-width: 0 .25rem .25rem;
  border-color: var(--background-color--background-alternate);
  background-color: var(--background-color--background-alternate);
  flex-flow: column;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  position: relative;
  box-shadow: 2px 6px 5px 3px rgba(0, 0, 0, .2);
}

.oe-home-hero_main_text_artists {
  text-align: center;
  font-family: Be Vietnam Pro, sans-serif;
  font-size: 1.7rem;
  font-weight: 700;
}

.oe-home-hero_main_text_artists.slightly-smaller {
  font-size: 2rem;
}

.text-non-break-words {
  white-space: nowrap;
}

.oe-home-hero_main_text_info {
  color: var(--base-color-brand--blue-medium);
  text-align: center;
  margin-bottom: 2rem;
  font-family: Be Vietnam Pro, sans-serif;
  font-size: 1.8rem;
}

.oe-home-hero_main_text_activities {
  text-align: center;
  font-family: Be Vietnam Pro, sans-serif;
  font-size: 1.2rem;
  font-weight: 800;
}

.oe-home-hero_main_text_activities-title {
  color: var(--base-color-brand--blue-medium);
  text-align: center;
  font-family: poleno, sans-serif;
  font-size: 2rem;
}

.oe-home-hero_top-text_column-main {
  text-align: center;
  flex: 1;
}

.oe-home-hero_top-text_column-main.column-main {
  flex: 1;
}

.oe-home-hero_main-character {
  z-index: -1;
  width: 10rem;
  position: absolute;
}

.oe-home-hero_main-character_spray-can {
  z-index: -1;
  width: 10rem;
  position: absolute;
  top: 0;
  right: -10rem;
}

.oe-home-hero-section-header {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.oe-home-hero_main-character_ice-cream {
  z-index: -1;
  width: 10rem;
  position: absolute;
  top: 0;
  left: -10rem;
}

.oe-home-hero_timings {
  background-color: var(--background-color--background-alternate);
  text-align: center;
  overflow-wrap: normal;
  padding: 2rem 1rem 1rem;
  font-family: Be Vietnam Pro, sans-serif;
  font-size: 2.1rem;
  font-weight: 800;
}

.oe-home-top-images {
  border-style: solid;
  border-width: .5rem 0;
  border-color: var(--background-color--background-alternate);
  justify-content: center;
  align-items: center;
  display: flex;
}

.oe-home-top-image {
  object-fit: contain;
  width: 200px;
  height: 200px;
}

.image {
  width: 100%;
  max-width: none;
}

.lightbox-bg-image-wrapper {
  opacity: .7;
}

.gallery-item-content-inner {
  width: 100%;
  padding-top: 10em;
  padding-bottom: 10em;
}

.heading-style-h1-2 {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.1;
}

.heading-style-h1-2.is-large {
  font-size: 10vw;
}

.gallery-item-inner {
  width: 100%;
  height: 100%;
}

.gallery-scroll-distance {
  height: 100vh;
  position: relative;
}

.gallery-item-content-wrapper {
  z-index: 3;
  align-items: center;
  max-width: 46em;
  min-height: 100vh;
  display: flex;
  position: relative;
}

.hero-gallery-item {
  width: 100%;
  max-width: 100%;
  margin-top: -100vh;
  position: relative;
}

.gallery-item-sticky {
  color: #fffbf5;
  background-color: #1f1f1f;
  width: 100%;
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.hero-gallery-item-last {
  width: 100%;
  max-width: 100%;
  margin-top: -100vh;
  position: relative;
}

.gutter-outside {
  padding-left: 7rem;
  padding-right: 7em;
}

.gallery-item-media {
  z-index: 1;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.gallery-item-media-gradient {
  z-index: 2;
  background-image: linear-gradient(270deg, rgba(218, 218, 218, 0), rgba(0, 0, 0, .84));
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.text-block-5 {
  max-width: 634px;
  margin-left: auto;
  margin-right: auto;
  font-family: poleno, sans-serif;
  font-size: 2rem;
}

.a-faq-content {
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  display: block;
  position: static;
  overflow: hidden;
}

.a-faq-toggle {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  display: flex;
}

.a-faq-toggle:hover {
  color: #5167f6;
}

.section-home-faq.background-color-black {
  display: block;
}

.a-faq-dropdown {
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(245, 245, 245, .5);
  margin-left: 0;
  margin-right: 0;
  padding: 1.5rem 2rem;
  transition: all .3s;
  display: block;
}

.a-faq-dropdown.a-faq-remove-line {
  border-bottom-style: none;
}

.a-faq-title-wrapper {
  white-space: normal;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 4px;
  margin-bottom: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;
}

.a-faq-content-wrapper {
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 90%;
  display: flex;
}

.a-faq-grid-wrapper {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  justify-content: flex-start;
  align-items: stretch;
  justify-items: stretch;
  margin-top: 3rem;
  display: flex;
}

.a-faq-arrow {
  color: #f5f5f5;
  background-color: rgba(0, 0, 0, 0);
  border: 0 solid #dedfe3;
  border-radius: 100%;
  flex: none;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 3rem;
  display: flex;
}

.text-block-6 {
  overflow-wrap: anywhere;
}

.paragraph {
  overflow-wrap: normal;
}

.faq-container {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: column;
  display: flex;
}

.dancing-dog-2x20, .dog-foot-finger, .cat-is-sleeping-and-rolling {
  width: 250px;
  height: 250px;
}

@media screen and (max-width: 991px) {
  .padding-xlarge {
    padding: 3rem;
  }

  .margin-xlarge {
    margin: 3rem;
  }

  .padding-xhuge {
    padding: 6rem;
  }

  .padding-xxhuge {
    padding: 8rem;
  }

  .padding-huge {
    padding: 5rem;
  }

  .margin-large {
    margin: 2.5rem;
  }

  .padding-xxlarge {
    padding: 4rem;
  }

  .padding-large {
    padding: 2.5rem;
  }

  .margin-huge {
    margin: 5rem;
  }

  .padding-medium {
    padding: 1.5rem;
  }

  .margin-xxlarge {
    margin: 4rem;
  }

  .margin-xhuge {
    margin: 6rem;
  }

  .margin-medium {
    margin: 1.5rem;
  }

  .margin-xxhuge {
    margin: 8rem;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .hide-tablet {
    display: none;
  }

  .fs-styleguide_2-col {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
  }

  .max-width-full-tablet {
    width: 100%;
    max-width: none;
  }

  .fs-styleguide_1-col {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  .fs-styleguide_heading-medium {
    font-size: 3rem;
  }

  .fs-styleguide_4-col {
    grid-template-columns: 1fr;
  }

  .padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .fs-styleguide_3-col {
    grid-template-columns: 1fr;
  }

  .fs-styleguide_section {
    grid-column-gap: 2.5rem;
    grid-template-columns: 1fr;
  }

  .padding-section-medium {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .spacer-huge {
    padding-top: 5rem;
  }

  .spacer-medium {
    padding-top: 1.5rem;
  }

  .spacer-xhuge {
    padding-top: 6rem;
  }

  .spacer-xxhuge {
    padding-top: 8rem;
  }

  .spacer-xlarge {
    padding-top: 3rem;
  }

  .spacer-large {
    padding-top: 2.5rem;
  }

  .spacer-xxlarge {
    padding-top: 4rem;
  }

  .nav_button {
    color: #fff;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  }

  .section_hero {
    padding-top: 3rem;
  }

  .hero_grid {
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    grid-template-columns: 1fr;
  }

  .fs-styleguide_heading-header {
    font-size: 4rem;
  }

  .lottie-animation {
    width: 3rem;
    height: 3rem;
    position: relative;
  }

  .nav-button-decorative {
    z-index: -1;
    background-color: var(--base-color-neutral--black);
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    transform: translate(2px, 1px);
  }

  .oe-home-hero_top-text_date, .oe-home-hero_top-text_intro {
    font-size: 2.5rem;
  }

  .lightbox-bg-image-wrapper {
    opacity: .3;
  }

  .heading-style-h1-2.is-large {
    font-size: 13vw;
  }

  .gallery-scroll-distance {
    height: 105vh;
  }

  .gallery-item-content-wrapper {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }

  .gutter-outside {
    padding-left: 6vw;
    padding-right: 6vw;
  }

  .gallery-item-media-gradient, .a-faq-content {
    width: 100%;
  }

  .a-faq-grid-wrapper {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: .875rem;
  }

  .padding-xlarge {
    padding: 2rem;
  }

  .margin-xlarge {
    margin: 2rem;
  }

  .padding-xhuge {
    padding: 4rem;
  }

  .padding-xxhuge {
    padding: 4.5rem;
  }

  .padding-huge {
    padding: 3.5rem;
  }

  .margin-large {
    margin: 1.5rem;
  }

  .padding-xxlarge {
    padding: 3rem;
  }

  .padding-large {
    padding: 1.5rem;
  }

  .margin-huge {
    margin: 3.5rem;
  }

  .padding-medium {
    padding: 1.25rem;
  }

  .margin-xxlarge {
    margin: 3rem;
  }

  .margin-xhuge {
    margin: 4rem;
  }

  .margin-medium {
    margin: 1.25rem;
  }

  .margin-xxhuge {
    margin: 4.5rem;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .hide-mobile-landscape {
    display: none;
  }

  .heading-style-h3 {
    font-size: 1.5rem;
  }

  .heading-style-h1 {
    font-size: 2.5rem;
  }

  .padding-global {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .padding-section-small {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .fs-styleguide_section-header {
    font-size: .875rem;
  }

  .fs-styleguide_heading-medium {
    font-size: 2rem;
  }

  .max-width-full-mobile-landscape {
    width: 100%;
    max-width: none;
  }

  .heading-style-h4 {
    font-size: 1rem;
  }

  .text-style-nowrap {
    white-space: normal;
  }

  .heading-style-h6 {
    font-size: .75rem;
  }

  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .text-size-large {
    font-size: 1.25rem;
  }

  .heading-style-h2 {
    font-size: 2rem;
  }

  .heading-style-h5 {
    font-size: .875rem;
  }

  .padding-section-medium {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .spacer-huge {
    padding-top: 3.5rem;
  }

  .spacer-medium {
    padding-top: 1.25rem;
  }

  .spacer-xhuge {
    padding-top: 4rem;
  }

  .spacer-xxhuge {
    padding-top: 4.5rem;
  }

  .spacer-xlarge {
    padding-top: 2rem;
  }

  .spacer-large {
    padding-top: 1.5rem;
  }

  .spacer-xxlarge {
    padding-top: 3rem;
  }

  .oe-home-hero_top-text {
    flex-flow: column;
    justify-content: space-between;
    align-items: stretch;
  }

  .oe-home-hero_top-text_date {
    transform: rotate(0);
  }

  .oe-home-hero_top-text_column {
    width: auto;
  }

  .oe-home-hero_top-text_intro {
    transform: rotate(0);
  }

  .heading-style-h1-2 {
    font-size: 2.5rem;
  }

  .gallery-scroll-distance {
    height: 102vh;
  }

  .a-faq-content-wrapper {
    max-width: 100%;
  }

  .a-faq-grid-wrapper {
    margin-top: 1.5rem;
  }
}

@media screen and (max-width: 479px) {
  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .fs-styleguide_row {
    flex-wrap: wrap;
  }

  .max-width-full-mobile-portrait {
    width: 100%;
    max-width: none;
  }

  .hide-mobile-portrait {
    display: none;
  }

  .nav_brand.brand-fixed {
    flex: 1;
    padding-bottom: 2rem;
  }

  .nav_logo {
    width: 5rem;
    height: 5rem;
    position: static;
  }

  .nav_button {
    padding: .7rem;
  }

  .hero_heading {
    font-size: 2.5rem;
  }

  .footer-bottom-container {
    flex-flow: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .one-earth-text {
    width: 5rem;
    height: 5rem;
  }

  .brand-fixed-date {
    position: absolute;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: 0%;
    transform: none;
  }

  .brand-fixed-images {
    justify-content: center;
    align-items: center;
  }

  .lottie-animation {
    width: 2rem;
    height: 2rem;
  }

  .nav-button-decorative {
    width: 2rem;
    height: 2rem;
    padding-bottom: 0;
    padding-right: 0;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .ticket-table_row {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    flex-flow: column;
  }

  .oe-home-hero_main_text_artists {
    font-size: 1.3rem;
  }

  .text-non-break-words {
    white-space: unset;
  }

  .oe-home-hero_main_text_info {
    font-size: 1.4rem;
  }

  .oe-home-hero_timings {
    font-size: 1.1rem;
  }

  .gallery-item-media.broken-wires {
    object-position: 62% 50%;
  }

  .gallery-item-media.birdgirl {
    object-position: 63% 50%;
  }

  .a-faq-dropdown {
    padding: 1rem;
  }

  .a-faq-grid-wrapper {
    margin-top: 0;
    display: block;
  }
}

#w-node-b224ec27-30fa-be84-48bf-7ed471542af3-bfd3a68d {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627ca17-bfd3a68d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca1c-bfd3a68d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca21-bfd3a68d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca26-bfd3a68d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca2c-bfd3a68d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca32-bfd3a68d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca38-bfd3a68d {
  justify-self: start;
}

#w-node-_5d224905-8a1e-1460-7532-d38cb7ec37c1-bfd3a68d, #w-node-_40538c8c-870b-b365-34c4-2a06f0f8567d-bfd3a68d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cb45-bfd3a68d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cb5e-bfd3a68d {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb61-bfd3a68d {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb63-bfd3a68d {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb66-bfd3a68d {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cbb8-bfd3a68d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cbc2-bfd3a68d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cbc3-bfd3a68d {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc31-bfd3a68d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc36-bfd3a68d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc3b-bfd3a68d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc40-bfd3a68d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc45-bfd3a68d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc4a-bfd3a68d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc54-bfd3a68d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc59-bfd3a68d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc5e-bfd3a68d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc63-bfd3a68d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc68-bfd3a68d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc6d-bfd3a68d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc72-bfd3a68d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc77-bfd3a68d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc7c-bfd3a68d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc81-bfd3a68d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc86-bfd3a68d {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc8a-bfd3a68d {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc8b-bfd3a68d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc90-bfd3a68d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc95-bfd3a68d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc9a-bfd3a68d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccaf-bfd3a68d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccb4-bfd3a68d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccb9-bfd3a68d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccbe-bfd3a68d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccc3-bfd3a68d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccc8-bfd3a68d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccd2-bfd3a68d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccd7-bfd3a68d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccdc-bfd3a68d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cce1-bfd3a68d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cce6-bfd3a68d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cceb-bfd3a68d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccf0-bfd3a68d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccf5-bfd3a68d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccfa-bfd3a68d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccff-bfd3a68d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd04-bfd3a68d {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cd08-bfd3a68d {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cd09-bfd3a68d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd0e-bfd3a68d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd13-bfd3a68d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd18-bfd3a68d, #w-node-_30684373-af34-3818-02a4-e58b3ffef3e5-bfd3a68d, #w-node-_30684373-af34-3818-02a4-e58b3ffef3ea-bfd3a68d, #w-node-_30684373-af34-3818-02a4-e58b3ffef3ef-bfd3a68d, #w-node-_30684373-af34-3818-02a4-e58b3ffef3f4-bfd3a68d, #w-node-_30684373-af34-3818-02a4-e58b3ffef3f9-bfd3a68d, #w-node-_30684373-af34-3818-02a4-e58b3ffef3fe-bfd3a68d, #w-node-_30684373-af34-3818-02a4-e58b3ffef403-bfd3a68d, #w-node-_30684373-af34-3818-02a4-e58b3ffef408-bfd3a68d, #w-node-_30684373-af34-3818-02a4-e58b3ffef40d-bfd3a68d, #w-node-_30684373-af34-3818-02a4-e58b3ffef412-bfd3a68d {
  justify-self: start;
}

#w-node-_30684373-af34-3818-02a4-e58b3ffef416-bfd3a68d {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_30684373-af34-3818-02a4-e58b3ffef417-bfd3a68d {
  justify-self: start;
}

#w-node-_30684373-af34-3818-02a4-e58b3ffef41a-bfd3a68d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd6b-bfd3a68d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd98-bfd3a68d {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cdc7-bfd3a68d {
  justify-self: start;
}


